<div class="bgColor container" *ngIf="data"  data-toggle="button" >
    <section>
        <h3 class="ml-3">SpaceX Launch Programs</h3>
    </section>
    <section>
        <div class="row container">
            <div class="col-12 col-md-2 bg-white leftNav">
                <h5>Filters</h5>
                <div class="l-year">
                    Launch Year
                </div>
                <div class="row tAlign container">
                    <ng-container *ngFor="let list of yearsList">
                        <div class="col-6 col-md-6">
                            <button type="button"class="btn btn-success" aria-pressed="false"(click)="yearClicked(list,id)">{{list}}</button>
                        </div>
                    </ng-container>
                    </div>

                <br>

                <div class="l-year">
                   Successful Launch
                </div>
                <div class="row tAlign container">
                    <div class="col-6 col-md-6">
                        <button type="button" class="btn btn-success" (click)="launchClick('true')">True</button>
                    </div>
                    <div class="col-6 col-md-6">
                        <button type="button" class="btn btn-success" (click)="launchClick('false')">False</button>
                    </div>
                </div>


                <br>

                <div class="l-year">
                    Successful Landing
                </div>
                <div class="row tAlign container">
                    <div class="col-6 col-md-6">
                        <button type="button" class="btn btn-success" (click)="landingClick('true')">True</button>
                    </div>
                    <div class="col-6 col-md-6">
                        <button type="button" class="btn btn-success" (click)="landingClick('false')">False</button>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <app-cards [data]="data"></app-cards>
            </div>
        </div>
    </section>
</div>